
body {
    line-height: 1.5;
}
.container {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100vh;
}
.square1 {
    display: grid;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: .25px;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.square2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
    margin: auto;
    width: 42.857143vw;
}

.line {
    display: grid;
    background-color: black;
    width: 42.857143vw;
    height: 2.3vh;
    margin: auto;
  }
  .linebox {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    gap: 0.8px;
    margin: auto;
    margin-top: 14%;
  }
  .whiteline {
    display: grid;
    position: relative;
    height: 1vh;
    width: 14.2857vw;
    margin-left: 90%;
    border-top: 12px solid red;
    border-left: 10px solid red;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }
