
body {
  line-height: 1.5;
}
.container {
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
}
.square1 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 0.25px solid black;
  width: 71.428571vw;
  height: 71.428571vh;
  margin: auto;
}
.square2 {
  background-color: white;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  height: 42.857143vh;
  width: 42.857143vw;
}

.line {
  display: flex;
  background-color: black;
  width: 42.857143vw;
  height: 2.3vh;
  margin: auto;
}

.step2 {
  display: flex;
  position: absolute;
  margin: auto;
  margin-left: 28%;
  margin-top: 24%;
  height: 14.285714vh;
  width: 14.285714vw;
}
  