
body {
    line-height: 1.5;
}
.container {
    display: flex;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.square1 {
    display: flex;
    background-color: white;
    border: 0.25px solid black;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.square2 {
    background-color: white;
    display: flex;
    margin: auto;
    height: 42.857143vh;
    width: 42.857143vw;
}
.lineleft {
    background-color: black;
    display: flex;
    margin: auto;
    margin-top: 0;
    height: 2.3vh;
    width: 42.857143vw;
}

.line {
    display: flex;
    background-color: black;
    width: 42.857143vw;
    height: 2.3vh;
    margin: auto;
}
.lineright {
    background-color: black;
    display: flex;
    margin: auto;
    margin-bottom: 0;
    height: 2.3vh;
    width: 42.857143vw;
}

