
body {
    overflow: hidden;
    display: block;
    margin: 8px;
}

.row {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.box {
    display: flex;
    background: white;
    border: 1px solid black;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}


