
body {
    display: block;
    margin: auto;
}

.layer1 {
    display: flex;
    background: white;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}
.layer2 {
    display: flex;
    background: white;
    border: 1px solid black;
    width: 71.428571vw;
    height: 71.428571vw;
    overflow: hidden;
}
.layer3 {
    display: flex;
    background: black;
    width: 42.857143vw;
    height: 42.857143vw;
    overflow: hidden;
}
.layer4 {
    display: flex;
    background: white;
    width: 14.285714vw;
    height: 14.285714vw;
    overflow: hidden;
}

